body {
    background-color: #d2e0fb;
    padding: 0;
    margin: 0;
}

h1 {
    background-color: #8eaccd;
    color: #f6f1ee;
    text-align: center;
}

.container {
    display: block;
    margin: 50px;
}

div .card {
    background-color: #ed7c31a8;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

div .card img {
    width: 100px;
    border-radius: 100px;
    margin-bottom: 20px;
}

div .card span {
    margin: 2px 0;
    color: white;
}

.boton-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    background-color: #8eaccd;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    display: block;
    justify-items: center;
    align-items: center;
    align-content: center;

}

img {
    max-width: 100%;
    height: auto;
}